.bod {
    margin: 100px;
    display: flex;
    flex-direction: column;
    gap: 425px;
    &Try {
        position: relative;
        margin-left: 100px;
        &Img {
            position: absolute;
            z-index: 8;
            width: 200px;
            cursor: move;
        }
    }
    &Projets {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;
        column-gap: 100px;
    }
}

.mediaReplace {
    display: none;
}

@media (max-width: 1024px) {
    .slider {
      display: none;
    }
  
    .mediaReplace {
      display: block;
      width: 200px;
    }
  
    .bodTryImg {
      display: none;
    }
  
    .bod {
      gap: 125px;
    }
}

@media (max-width: 768px) {
    .bod {
        margin: 100px 0;
        &Try {
            margin-left: 50px;
        }
    }
}